<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Programacion y Servicios Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Punto A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="puntoB" routerLinkActive="active">Punto B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Punto C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="puntoE" routerLinkActive="active">Punto E</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
