<h1 class="bg-dark bg-opacity-75 text-center text-white mb-2">Listado de Marcas de Autos</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3 mb-2" *ngFor="let marca of marcas">
      <button class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" [value]="marca.id"
      (click)="obtenerModelos(marca.id)">{{marca.name}}</button>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content border border-dark">
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title ">Modelos de Auto de {{marcaSeleccionada?.name}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action px-4 py-3" *ngFor="let modelo of modelos">
            {{ modelo.name }}
          </li>
        </ul>
      </div>
      <div class="modal-footer border-top bg-secondary">
        <small class=" me-auto text-white">
          {{ modelos.length }} modelo(s) encontrado(s)
        </small>
        <button type="button" class="btn btn-black btn-sm text-white" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
