<h1 class="bg-dark bg-opacity-75 text-center text-white mb-0">Listado de Peliculas Recomendadas</h1>
<div class="container-fluid bg-dark bg-opacity-75">
  <div class="row justify-content-center">
    <div class="card col-12 col-md-4 col-lg-4 col-xl-3 m-2 bg-dark bg-opacity-75 text-white border-dark border-1"
      *ngFor="let pelicula of peliculas">
      <img [src]="pelicula.image" class="card-img-top px-4 pt-3" style="height: 350px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{pelicula.title}}</h5>
        <p class="card-text">{{pelicula.description | slice:0:100 }}...</p>
        <div style="display: flex; flex-wrap: wrap; gap: 6px;">
          <span>Gen: </span>
          <span [ngClass]="{
            'badge-drama': genero === 'Drama',
            'badge-ciencia-ficcion': genero === 'Sci-Fi',
            'badge-aventura' : genero ==='Adventure',
            'badge-accion' : genero === 'Action',
            'badge-crimen' : genero === 'Crime',
            'badge-mystery': genero === 'Mystery',
            'badge-thriller':  genero === 'Thriller',
            'badge-war':       genero === 'War',
            'badge-biography': genero === 'Biography',
            'badge-history':   genero === 'History',
            'badge-animation': genero === 'Animation',
            'badge-fantasy':   genero === 'Fantasy',
            'badge-comedy':    genero === 'Comedy',
            'badge-family': genero === 'Family',
            'badge-horror': genero === 'Horror',
            'badge-romance': genero === 'Romance',
            'badge-western': genero === 'Western',
          }" class="badge" *ngFor="let genero of pelicula.genre">{{genero}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
